@keyframes my-photo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 1300px) {
  .nickname-input{
    width: 400px;
  }
}
@media only screen and (max-width: 1300px) {
  .nickname-input{
    width: 200px;
  }
}
.nickname-input{
  height: 50px;
  border-radius: 25px;
  background: white;
  color: black;
  mix-blend-mode: difference;
  transition: background-color 2s, color 2s;
  font-family: "Permanent Marker", cursive;
}
.nickname-input::placeholder{
  color: white;
  mix-blend-mode: difference;
}
.nickname-input:focus{
  height: 50px;
  border-radius: 25px;
  background: black;
  color: white;
  mix-blend-mode: normal;
  transition: background-color 2s, color 2s;
}
